[submodule "CS207 Digital Logic/Project"]
	path = CS207 Digital Logic/Project
	url = https://github.com/ChaosZ-1702/CS207-2024Fall-Project-2
	branch = main
[submodule "CS202 Computer Organization/Project"]
	path = CS202 Computer Organization/Project
	url = https://github.com/suozhe923/CPU
[submodule "CS307 Principles of Database Systems/Project2/Project"]
	path = CS307 Principles of Database Systems/Project2/Project
	url = https://github.com/suozhe923/DBProject2
[submodule "CS307 Principles of Database Systems/Project2/demo"]
	path = CS307 Principles of Database Systems/Project2/demo
	url = https://github.com/CS307-Database/engine-project
[submodule "CS323 Compilers/Project"]
	path = CS323 Compilers/Project
	url = https://github.com/ChaosZ-1702/CS323-Personal-Projects
